.PricingCard {
    padding: 2em;
    border-radius: 1em;
    text-align: center;
    color: white;
    width: min(100%, 30rem);
    background-color: #69a9e7;
    align-self: stretch;
    color: var(--neutral-white);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .PricingCard header > .card-title {
    font-size: 1.5em;
  }
  
  .PricingCard header > .card-price {
    margin-block: 5rem;
    font-size: 3.5em;
  }
  
  .PricingCard .card-features > * {
    padding-block: 1em;
    border-bottom: 1px solid var(--neutral-light-grayish-blue);
  }
  
  
  .PricingCard .card-btn {
    cursor: pointer;
    padding-block: 1em;
    width: 100%;
    border-radius: 0.5em;
    border: 2px solid transparent;
    outline: transparent;
    transition: 0.125s ease;
    color: var(--neutral-white);
    background-color: aliceblue;
  }
  
  .PricingCard .card-btn:is(:focus-visible, :hover) {
    color: aliceblue;
    background-color: black;
    border-radius: 0.5em;
  }
  
.PricingApp {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: "Montserrat", sans-serif;
    font-weight: var(--primary-fw);
    font-size: var(--primary-fs);
    display: grid;
    place-items: center;
    background-color: var(--neutral-very-light-grayish-blue);
    background-image: url("../images/bg-top.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 375px 658px;
    z-index: 999;
  }
  
  .PricingApp::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 353px;
    width: 100%;
    height: 304px;
    background-image: url("../images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: var(--primary-fw);
    font-size: var(--primary-fs);
  }
  
  .PricingApp .price-switch {
    --border-radius: 10em;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: var(--border-radius);
    position: relative;
    cursor: pointer;
  }
  
  .PricingApp .price-checkbox {
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .PricingApp .switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right, var(--primary-linear-gradient));
  }
  
  .PricingApp .switch-slider:is(:hover, :focus-visible) {
    opacity: 0.7;
  }
  
  .PricingApp .switch-slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 20px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--neutral-very-light-grayish-blue);
    transform: translateX(calc(100% + 2px));
    transition: 0.3s ease;
  }
  
  .PricingApp .price-checkbox:checked + .switch-slider::before {
    transform: translateX(0%);
  }
  
  .PricingApp .app-container {
    width: min(90%, 70rem);
  }
  
  .PricingApp header .header-topic {
    text-align: center;
    color: var(--neutral-dark-grayish-blue);
  }
  
  .PricingApp header > .header-row {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  
  .PricingApp .pricing-cards {
    margin-top: 4em;
    min-height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 800px) {
    .PricingApp {
      padding-block: 4em;
    }
    .PricingApp .pricing-cards {
      flex-direction: column;
      gap: 2em;
    }
  }