.login-container{
    margin: 5% 6% 1% 6%;
}
.login-form-1{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    background-color: white;
}
.login-form-1 h3{
    text-align: center;
    color: #5344b2;
}
.login-form-2{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5% 5% 0 5%;
    background: #5344b2;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit, .btnChangeCurrentForm
{
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin: 0px 10px;
}
.login-form-1 .btnSubmit{
    color: #fff;
    background-color: #5344b2;
    margin-top: 10%;
}
.login-form-2 .btnSubmit{
    background-color: #fff;
    color: #5344b2;
    margin-top: 10%;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #5344b2;
    font-weight: 600;
    text-decoration: none;
}
.newsletter-question{
    font-weight: 500;
    color: white;
}
.justify-content{
    justify-content: center;
}
.login-form-1 .btnChangeCurrentForm{
    color: #fff;
    background-color: #5344b2;
    margin-top: 1%;
}
.login-form-2 .btnChangeCurrentForm{
    background-color: #fff;
    color: #5344b2;
    margin-top: 2%;
}
